# Django
SECRET_KEY=your-long-random-secret-key-here-make-it-50-chars-minimum
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
ALLOWED_HOSTS=localhost,127.0.0.1
COOKIE_SECURE=False

# Database
DB_NAME=fundi
DB_USER=fundi
DB_PASSWORD=fundi
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/10
